
---
import Accordion from '../components/Accordion.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nate Stoltz :: Frontend Developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__content-logo">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" class="header__content-logo--desktop" data-name="Layer 1" viewBox="0 0 1590 396"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M581.89,343.08h33.38L440,101.71,365.59,204.15,254.12,50.63,41.75,343.08H298.09l67.5-93,67.49,93h33.4L382.29,227.14l20.6-28.38,104.8,144.32H541.1L419.58,175.77,440,147.68Zm-338.78-27,65-89.52-16.69-23-81.68,112.5H168.94L271,175.5l-16.69-23L135.54,316.07H94.75L254.12,96.63,348.9,227.14l-64.59,88.93Z"/><path class="cls-1" d="M711.72,60h25.42l57.08,109.69L850.85,60h25.64V216.07H856.42L856.2,91.44,800.68,199.57H787.53l-56-108.13V216.07H711.72Z"/><path class="cls-1" d="M991.09,216.07v-16.5Q977.94,217,949.84,217a47,47,0,0,1-21.51-4.68,34.41,34.41,0,0,1-14.27-12.93,34.87,34.87,0,0,1-5-18.51q0-15.83,11.71-25.08t32.66-9.48h37.46v-5.57q0-12.48-7.69-19.29t-22.41-6.8q-17.85,0-36.35,12.71l-8.69-14.27a108.58,108.58,0,0,1,23.52-11.93q10.82-3.67,25.75-3.67,22.08,0,34.12,10.81t12.26,30.21l.22,77.59Zm-12.37-23.3a27.71,27.71,0,0,0,12.15-18.62V162.34H956.31q-14.05,0-20.85,4.23T928.66,180a17.34,17.34,0,0,0,6.91,14.49q6.91,5.35,18.51,5.35Q968.57,199.79,978.72,192.77Z"/><path class="cls-1" d="M1158.53,50.63V216.07h-20.74V192.66a46.85,46.85,0,0,1-17.94,18.17q-11.26,6.34-26.2,6.35-16.73,0-29.54-7.69a52.87,52.87,0,0,1-20-21.4q-7.14-13.71-7.13-31.33,0-17.38,7.13-30.88a52.5,52.5,0,0,1,20-21.07q12.81-7.57,29.32-7.58,15.15,0,26.53,6.25a44.38,44.38,0,0,1,17.83,18.06V50.63Zm-40,143.37a37.62,37.62,0,0,0,14.16-14.94,45.22,45.22,0,0,0,5.12-21.63,45.71,45.71,0,0,0-5.12-21.85,37.62,37.62,0,0,0-14.16-14.94,39.77,39.77,0,0,0-20.63-5.35,39.08,39.08,0,0,0-20.62,5.46,38.52,38.52,0,0,0-14.16,15.05,48.25,48.25,0,0,0,0,43.26A37.62,37.62,0,0,0,1077.26,194a42.43,42.43,0,0,0,41.25,0Z"/><path class="cls-1" d="M1237.46,104.26q10.69-6.58,25.41-6.8v20.06q-18.06-.66-29.2,9.37t-12.71,27v62.21h-20.74V98.12H1221v25.42Q1226.75,110.83,1237.46,104.26Z"/><path class="cls-1" d="M1365.76,105a54.43,54.43,0,0,1,21.41,21.07q7.69,13.49,7.69,30.87t-7.69,31a54.31,54.31,0,0,1-21.41,21.18q-13.71,7.58-31.32,7.58-17.84,0-31.55-7.58a54.54,54.54,0,0,1-21.4-21.07q-7.7-13.49-7.7-31.11,0-17.39,7.7-30.87a54.47,54.47,0,0,1,21.4-21.07q13.71-7.59,31.55-7.58Q1352.05,97.46,1365.76,105Zm-51.94,15.83a37,37,0,0,0-14,14.82,45.34,45.34,0,0,0-5,21.52,46.49,46.49,0,0,0,5,21.85,36,36,0,0,0,14,14.82,40.25,40.25,0,0,0,20.62,5.24,39.83,39.83,0,0,0,20.4-5.24,36.08,36.08,0,0,0,14.05-14.82,46.49,46.49,0,0,0,5-21.85,45.34,45.34,0,0,0-5-21.52,37,37,0,0,0-14.05-14.82,39.22,39.22,0,0,0-20.4-5.35A39.64,39.64,0,0,0,1313.82,120.87Z"/><path class="cls-1" d="M1443.35,54.87a13.22,13.22,0,0,1,3.68,9.59,13.2,13.2,0,0,1-3.68,9.58,13.16,13.16,0,0,1-18.5,0,13.15,13.15,0,0,1-3.68-9.58,13.18,13.18,0,0,1,3.68-9.59,13.18,13.18,0,0,1,18.5,0Zm-19.51,43.25h20.74v118h-20.74Z"/><path class="cls-1" d="M1548.25,208.27Q1534.65,217,1520.6,217t-22.74-8.36q-8.7-8.35-8.69-25.31V118h-16.73V102.14h16.73V70.48h20.95v31.66h36.12V118h-36.12V179.5q0,9.83,3.57,14.05t10.7,4.24q8.47,0,18.29-5.58Z"/><path class="cls-1" d="M711.72,269h9.1l29,55.54L778.47,269h9.1v74.05H780.8l-.11-63.89-29,56h-4l-29.09-56v63.89h-6.88Z"/><path class="cls-1" d="M892.51,343.08l-8.78-19.67H842.68L834,343.08h-7.83l33.32-73.94h7.62l33.32,73.94Zm-47-26.23h35.33l-17.77-40Z"/><path class="cls-1" d="M987.82,343.08l-16-24.11c-2.25.14-4,.21-5.18.21H946.35v23.9h-7.3V269.14h27.61q13.86,0,21.42,6.4t7.57,18.14q0,9.21-4.45,15.34a23.16,23.16,0,0,1-12.69,8.57l17.77,25.49Zm-21.16-30.46q10.58,0,16.29-4.82t5.71-13.91q0-8.88-5.71-13.54t-16.29-4.65H946.35v36.92Z"/><path class="cls-1" d="M1101.32,343.08h-9l-28-36-15,16.29v19.67H1042V269h7.3V314.1l41-45.07h8.89l-29.73,32.37Z"/><path class="cls-1" d="M1141.83,269.14h49.51v6.56h-42.21v26.44h37.77v6.56h-37.77v27.82h43.59v6.56h-50.89Z"/><path class="cls-1" d="M1226.57,269h56.17v6.67H1258.3v67.38H1251V275.7h-24.43Z"/><path class="cls-1" d="M1322,269.14h7.3v73.94H1322Z"/><path class="cls-1" d="M1432.63,269.14h7.19v73.94h-7.72l-45.8-62.62v62.62H1379V269.14h7.72l45.91,62.62Z"/><path class="cls-1" d="M1541.58,306.9H1548V334a41,41,0,0,1-12.54,7.14,42.51,42.51,0,0,1-14.54,2.59,38.59,38.59,0,0,1-33.32-18.83,36.19,36.19,0,0,1-5.19-18.94,35.68,35.68,0,0,1,5.19-18.83,37.85,37.85,0,0,1,14.12-13.59,39.13,39.13,0,0,1,19.51-5,41.08,41.08,0,0,1,14.55,2.64,39.59,39.59,0,0,1,12.43,7.41l-4.23,5.18a32.38,32.38,0,0,0-10.47-6.51,34.14,34.14,0,0,0-12.28-2.27,30.79,30.79,0,0,0-15.76,4.18,31.53,31.53,0,0,0-11.42,11.26,29.8,29.8,0,0,0-4.23,15.55,30.24,30.24,0,0,0,4.23,15.71,31.59,31.59,0,0,0,27.29,15.5,33,33,0,0,0,10.53-1.75,36.27,36.27,0,0,0,9.67-4.91Z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" class="header__content-logo--mobile"data-name="Layer 1" viewBox="0 0 653 396"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M581.89,343.08h33.38L440,101.71,365.59,204.15,254.12,50.63,41.75,343.08H298.09l67.5-93,67.49,93h33.4L382.29,227.14l20.6-28.38,104.8,144.32H541.1L419.58,175.77,440,147.68Zm-338.78-27,65-89.52-16.69-23-81.68,112.5H168.94L271,175.5l-16.69-23L135.54,316.07H94.75L254.12,96.63,348.9,227.14l-64.59,88.93Z"/></svg>
        </div>
        <div class="header__content-copy">
          <h1>Nathan Stoltz</h1>
          <h2>Front End Developer</h2>
        </div>
      </div>
    </header>
    <main>
      <section>
        <Accordion />
      </section>
    </main>
  </body>
</html>

<style lang="scss">
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif;
    
  }

    .header {
      background-color:#0295ff;
      display:flex;
      justify-content: center;
      align-items: flex-start;
      color: #fff;
      padding:1.5rem 4%;
      &__content {
        width:100%;
        max-width:1140px;
        padding:0 0;
          &-logo {
          width:100%;
          display:block;
          &--desktop {
            max-width:277px;
            @media (max-width: 992px) {
              display:none;
            }
          }
          &--mobile {
            display:none;
            max-width:110px;
            @media (max-width: 991px) {
              display:block;
            }
          }
        }
        &-copy {
          padding:12.332% 0;
          h1 {
            font-size: clamp(29px, calc(29px + (29 * ((100vw - 320px) / 1600))), 44px);
          }
          h2 {
            font-family: "Mulish", sans-serif;
            font-weight:100;
            font-size: clamp(24px, calc(24px + (24 * ((100vw - 320px) / 1600))), 32px);
          }
        }
      } 
    }
    main {
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height:100%;
      min-height: cald(100vh - 38.15vh);
      section {
        width:100%;
        background-color:#f9f9fa;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding:96px 4%;
      }
    }
</style>